<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongming.backendpro.drools.mapper.EntityMapper">
    <resultMap id="entitymap" type="com.yongming.backendpro.drools.model.EntityModel">
        <id column="id" property="id"/>
        <result column="entityname" property="entityName"/>
        <result column="entitypackage" property="entityPackage"/>
        <result column="entitydesc" property="entityDesc"/>
        <result column="eneityremark" property="eneityRemark"/>
        <result column="groupid" property="groupId"/>
        <result column="groupname" property="groupName"/>
        <result column="createTime" property="createTime"/>
    </resultMap>
    <sql id="basecolumn">
        id
        ,
        entityname,
        entitypackage,
        entitydesc,
        eneityremark,
        groupid,
        groupname,
        createtime
    </sql>
    <select id="getEntityListByIds" resultMap="entitymap"
            parameterType="java.util.List">
        select
        <include refid="basecolumn"/>
        from drools_entity
        where id in
        <foreach collection="idlist" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getSingleEntityByID" resultType="com.yongming.backendpro.drools.model.EntityModel"
            parameterType="int">
        select
        <include refid="basecolumn"/>
        from drools_entity
        where id=#{id}
    </select>

    <insert id="addNewEntity">
        insert into pinboard(entityname,
                             entitypackage,
                             entitydesc,
                             eneityremark,
                             groupid,
                             groupname,
                             createtime
        )
        value
        (
        #{entityName}
        ,
        #{entityPackage}
        ,
        #{entityDesc}
        ,
        #{eneityRemark}
        ,
        #{groupId}
        ,
        #{groupName}
        ,
        #{createTime}
        )
    </insert>

    <update id="updateEntityByID" parameterType="com.yongming.backendpro.drools.model.EntityModel">
        update drools_entity
        set entityname=#{entityName},
            entitypackage= #{entityPackage},
            entitydesc=#{entityDesc},
            eneityremark=#{eneityRemark},
            groupid= #{groupId},
            groupname=#{groupName}
        where id = #{id}
    </update>

</mapper>
