<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongming.backendpro.project.drools.mapper.FunctionMapper">
    <resultMap id="functionmap" type="com.yongming.backendpro.project.drools.model.FunctionModel">
        <id column="id" property="id"/>
        <result column="functionname" property="functionName"/>
        <result column="functiondesc" property="functionDesc"/>
        <result column="functioncontent" property="functionContent"/>
        <result column="quoteentities" property="quoteEntities"/>
        <result column="returntype" property="returnType"/>
        <result column="functionparamterdesc" property="functionParamterDesc"/>
        <result column="usageexample" property="usageExample"/>
        <result column="groupid" property="groupId"/>
        <result column="groupname" property="groupName"/>
        <result column="createtime" property="createTime"/>
    </resultMap>
    <sql id="basecolumn">
        id
        ,
        functionname,
        functiondesc,
        functioncontent,
        quoteentities,
        returntype,
        functionparamterdesc,
        usageexample,
        groupid,
        groupname,
        createtime
    </sql>
    <select id="getFunctionByIds" resultMap="functionmap"
            parameterType="java.util.List">
        select
        <include refid="basecolumn"/>
        from drools_function
        where id in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getFunctionByID" resultType="com.yongming.backendpro.project.drools.model.FunctionModel"
            parameterType="int">
        select
        <include refid="basecolumn"/>
        from drools_function
        where id=#{id}
    </select>

    <insert id="addNewdata">
        insert into drools_function(functionname,
                                    functiondesc,
                                    functioncontent,
                                    quoteentities,
                                    returntype,
                                    functionparamterdesc,
                                    usageexample,
                                    groupid,
                                    groupname,
                                    createtime
        )
        value
        (
        #{functionName}
        ,
        #{functionDesc}
        ,
        #{functionContent}
        ,
        #{quoteEntities}
        ,
        #{returnType}
        ,
        #{functionParamterDesc}
        ,
        #{usageExample}
        ,
        #{groupId}
        ,
        #{groupName}
        ,
        #{createTime}
        )
    </insert>

    <update id="updateFunction" parameterType="com.yongming.backendpro.project.business.model.PinBoardModel">
        update drools_function
        set functionname=#{functionName}
                ,
            functiondesc= #{functionDesc}
                ,
            functioncontent= #{functionContent}
                ,
            quoteentities=#{quoteEntities}
                ,
            returntype= #{returnType}
                ,
            functionparamterdesc=#{functionParamterDesc}
                ,
            usageexample= #{usageExample}
                ,
            groupid=#{groupId}
                ,
            groupname=#{groupName}
        where id = #{id}
    </update>

</mapper>
