<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongming.backendpro.project.drools.mapper.GroupMapper">
    <resultMap id="groupmap" type="com.yongming.backendpro.project.drools.model.GroupModel">
        <id column="id" property="id"/>
        <result column="groupname" property="groupName"/>
        <result column="groupdesc" property="groupDesc"/>
        <result column="grouptype" property="groupType"/>
        <result column="createtime" property="createTime"/>
    </resultMap>
    <sql id="basecolumn">
        id
        ,
        groupname,
        groupdesc,
        grouptype,
        createtime
    </sql>
    <select id="getGroupList" resultMap="groupmap"
            parameterType="com.yongming.backendpro.project.drools.model.GroupModel">
        select
        <include refid="basecolumn"/>
        from drools_group
        <where>
            <if test="id !=0">
                id=#{id}
            </if>
            <if test="groupName != null and groupName!=''">
                and groupname=#{groupName}
            </if>
        </where>
    </select>

    <select id="getGroupByid" resultType="com.yongming.backendpro.project.drools.model.GroupModel"
            parameterType="int">
        select
        <include refid="basecolumn"/>
        from drools_group
        where id=#{id}
    </select>

    <insert id="addGroup">
        insert into drools_group(groupname,
                                 groupdesc,
                                 grouptype,
                                 createtime
        )
        value
        (
        #{groupName}
        ,
        #{groupDesc}
        ,
        #{groupType}
        ,
        #{createTime}
        )
    </insert>

    <update id="updateGroup" parameterType="com.yongming.backendpro.project.drools.model.GroupModel">
        update drools_group
        set pinstatus=#{groupName}
                ,
            groupname=#{groupDesc}
                ,
            grouptype=#{groupType}
        where id = #{id}
    </update>

</mapper>
