<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongming.backendpro.project.drools.mapper.TemplatesMapper">
    <resultMap id="templatemap" type="com.yongming.backendpro.project.drools.model.TemplatesModel">
        <id column="id" property="id"/>
        <result column="templatename" property="templateName"/>
        <result column="templatedesc" property="templateDesc"/>
        <result column="quoteentities" property="quoteEntities"/>
        <result column="canchanged" property="canChanged"/>
        <result column="templatecontent" property="templateContent"/>
        <result column="createtime" property="createTime"/>
        <result column="quotefunctions" property="quoteFunctions"/>
    </resultMap>
    <sql id="basecolumn">
        id
        ,
        templatename,
        templatedesc,
        quoteentities,
        canchanged,
        templatecontent,
        createtime,
        quotefunctions
    </sql>
    <select id="getTemplateList" parameterType="com.yongming.backendpro.project.drools.model.TemplatesModel"
            resultMap="templatemap">
        select
        <include refid="basecolumn"/>
        from drools_templates
        <where>
            <if test="id != 0">
                id=#{id}
            </if>
            <if test="templateName !=null and templateName != ''">
                and templatename like concat('%',#{templateName},'%')
            </if>
        </where>
    </select>

    <select id="getTemplateModel" resultType="com.yongming.backendpro.project.drools.model.TemplatesModel"
            parameterType="int">
        select
        <include refid="basecolumn"/>
        from drools_templates
        where id-=#{id}
    </select>

    <insert id="addNewTemplate">
        insert into drools_templates(templatename,
                                     templatedesc,
                                     quoteentities,
                                     canchanged,
                                     templatecontent,
                                     createtime,
                                     quotefunctions
        )
        value
        (
        #{templateName}
        ,
        #{templateDesc}
        ,
        #{quoteEntities}
        ,
        #{canChanged}
        ,
        #{templateContent}
        ,
        #{createTime}
        ,
        #{quoteFunctions}
        )
    </insert>

    <update id="updateTemplate" parameterType="com.yongming.backendpro.project.drools.model.TemplatesModel">
        update drools_templates
        set templatename=#{templateName}
                ,
            templatedesc=#{templateDesc}
                ,
            quoteentities=#{quoteEntities}
                ,
            canchanged= #{canChanged}
                ,
            templatecontent=#{templateContent}
                ,
            quotefunctions=#{quoteFunctions}
        where id = #{id}
    </update>

</mapper>
