<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongming.backendpro.drools.mapper.TemplatesMapper">
    <resultMap id="templatemap" type="com.yongming.backendpro.drools.model.TemplatesModel">
        <id column="id" property="id"/>
        <result column="templatename" property="title"/>
        <result column="templatedesc" property="content"/>
        <result column="quoteentities" property="remind"/>
        <result column="canchanged" property="remindTime"/>
        <result column="templatecontent" property="cacleRemind"/>
        <result column="createtime" property="createTime"/>
        <result column="quotefunctions" property="userId"/>
    </resultMap>
    <sql id="basecolumn">
        id
        ,
        templatename,
        templatedesc,
        quoteentities,
        canchanged,
        templatecontent,
        createtime,
        quotefunctions
    </sql>
    <select id="getTemplateList" resultMap="templatemap">
        select
        <include refid="basecolumn"/>
        from drools_templates
        where pinstatus=1 and userid=#{userId}
        order by createtime desc
    </select>

    <select id="getTemplateModel" resultType="com.yongming.backendpro.drools.model.TemplatesModel"
            parameterType="int">
        select
        <include refid="basecolumn"/>
        from drools_templates
        where id-=#{id}
    </select>

    <insert id="addNewTemplate">
        insert into drools_templates(templatename,
                                     templatedesc,
                                     quoteentities,
                                     canchanged,
                                     templatecontent,
                                     createtime,
                                     quotefunctions
        )
        value
        (
        #{templateName}
        ,
        #{templateDesc}
        ,
        #{quoteEntities}
        ,
        #{canChanged}
        ,
        #{templateContent}
        ,
        #{createTime}
        ,
        #{quoteFunctions}
        )
    </insert>

    <update id="updateTemplate" parameterType="com.yongming.backendpro.drools.model.TemplatesModel">
        update drools_templates
        set templatename=#{templateName}
                ,
            templatedesc=#{templateDesc}
                ,
            quoteentities=#{quoteEntities}
                ,
            canchanged= #{canChanged}
                ,
            templatecontent=#{templateContent}
                ,
            quotefunctions=#{quoteFunctions}
        where id = #{id}
    </update>

</mapper>
