<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yongming.backendpro.business.mapper.PinBoardMapper">
    <resultMap id="pinboardmap" type="com.yongming.backendpro.business.model.PinBoardModel">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="remind" property="remind"/>
        <result column="remindtime" property="remindTime"/>
        <result column="cacleremind" property="cacleRemind"/>
        <result column="createtime" property="createTime"/>
        <result column="userid" property="userId"/>
        <result column="username" property="userName"/>
        <result column="pinstatus" property="pinStatus"/>
    </resultMap>
    <sql id="basecolumn">
        id
        ,
        title,
        content,
        remind,
        remindtime,
        cacleremind,
        createtime,
        userid,
        username,
        pinstatus
    </sql>
    <select id="getAllPinboard" resultMap="pinboardmap"
            parameterType="com.yongming.backendpro.business.model.PinBoardModel">
        select
        <include refid="basecolumn"/>
        from pinboard
        where pinstatus=1 and userid=#{userId}
        order by createtime desc
    </select>

    <select id="getRemindPinboard" resultMap="pinboardmap"
            parameterType="com.yongming.backendpro.business.model.PinBoardModel">
        select
        <include refid="basecolumn"/>
        from pinboard
        where pinstatus=1 and userid=#{userId} and cacleremind !=1 and  remindtime &gt; now() and remind=1
        order by remindtime asc
    </select>

    <insert id="addNewPinboard">
        insert into pinboard(title,
                             content,
                             remind,
                             remindtime,
                             cacleremind,
                             createtime,
                             userid,
                             username,
                             pinstatus
        )
        value
        (
        #{title}
        ,
        #{content}
        ,
        #{remind}
        ,
        #{remindTime}
        ,
        #{cacleRemind}
        ,
        #{createTime}
        ,
        #{userId}
        ,
        #{userName}
        ,
        #{pinStatus}
        )
    </insert>

    <update id="updatePinStatus" parameterType="com.yongming.backendpro.business.model.PinBoardModel">
        update pinboard
        set pinstatus=#{pinStatus}
        where   id=#{id}
    </update>

    <update id="updatePinRemind" parameterType="com.yongming.backendpro.business.model.PinBoardModel">
        update pinboard
        set cacleremind=1
        where   id=#{id}
    </update>
</mapper>